body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
color: "#aaf";
    max-width: 100%;
    height: '100vm';
    margin: 0 auto;
    color: "#aaf";
  background-color: #212121;
  }

.dividerFullWidth {
  color: #eed55b;
  font-size: 16px;
  margin-left: 13%;
  margin-right: 13%;
}

.__next {
  color: "#aaf";
  background-color: "#aaf"
}
  
h1 {
  /* font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif; */
  font-size: 64px;
  width: 100%;


  text-align: center;
  /* color: #212121; */
}

h2 {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  font-size: 22px;
  text-align: center;
  width: 100%;

}

h3 {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.3;

  width: 100%;
padding: 4%;
  background-color: #212121;
  color: #f6f6f6;

}

h4 {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  font-size: 22px;
  width: 100%;
  color: "#aaf"
}

p {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  font-size: 18px;
  width: 100%;
  color: "#aaf"
}

.vitalsysphoto {
  float: center;
  object-fit: cover;
}



.icon {

text-align: center;
padding: 25%;

}

#icons {
margin-top: 15vh;
  text-align: center;
}


.social-svg-mask > path {

  fill: #eed55b;

}
.social-svg-mask:hover > path {
  fill: #148aa3;
}

#portfolioLinks {
  background-color: yellow;

}

#shortBio {
  background-color: green;
  /* width: 30%; */
}



  li {
    list-style: none;

  }



  a {
    text-decoration: none;
   font-size: 26px;

   color: #f6f6f6;
    font-family: 'Helvetica';
    background-color: #212121;
    /* padding-right: 1%;
    padding-left: 1%; */
    /* border: 2px solid #ee7e5b;  */
  }

  a:hover {
    opacity: 0.6;
    }




  .photo{
    float: right;
    object-fit: cover;
    background-color: #148aa3;
  }

  #photoContainer{
    width: 50%;
    float: center;
  
    background-color: #148aa3;
  }
  .footer {
    padding-right: 10%;
    width: 80%;
    padding-left: 10%;
    /* margin-right: 10%;
    margin-left: 10%; */
  } 

  #header {
    background-color: #148aa3;
  }


  .webDev {
    margin-right: 20%;
    margin-left: 20%;
    color: #eed55b;
   
    
    background-color: #212121;
  
  }
  .webDev2 {
    margin-right: 14%;
    margin-left: 4%;
  color: #eed55b;
    background-color: #212121;
  }

  #bigList {
    width: 100%;
    max-width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    border-style: solid;
    border-color: #ee7e5b;
    background-color: #212121;
    color: #f6f6f6;
    font-size: 26px;
  }
  .MuiGrid {
    padding: 0;
  }
  @media only screen 
and (max-device-width: 667px){

}