body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
  
    max-width: 100%;
    margin: 0 auto;
    background-color: "#5f4b8b";
    background: 'url(/static/IMG.png) no-repeat center center scroll'
  }

h1 {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
  'Arial', sans-serif;
  font-size: 52px;
}

  .sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
   background-color: #0d0d0d;
    overflow-x: hidden;
    padding-top: 20px;
    /* border-right: 2px solid #8AB5B3; */
  }

.socialIcon {
  height:10;
  width: 10;
}

  .sidenav a {
    padding: 50px 0px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f2f2f2;
    display: block;
    
  }

  .shiftdiv {
    margin-left: 80px;
  }
  .shiftdivabout {
    margin-left: 80px;
  }
  .shiftdivresearch {
    margin-left: 80px;
  }
  .shiftdivdevelopment {
    margin-left: 200px;
  }
  .bio {
    padding: 20px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 26px;
    color: #1E2732;
  }
  
  .photo{
    float: right;
    margin-top: 30px;
    
  }



  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .shiftdiv {
    background: #1E2732;
    color: #1E2732;
  };
 .bio {
   font-size: 18px;
   margin-left: 130px;
   background-color: #6387A6
 };
 .photo {
  size: 1200px;
  margin-top: 30px;
 };
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  

  .shiftdiv {
    background: #8AB5B3;
    color: #1E2732;
  };
  .shiftdivabout {
    background:   #6387A6;
    color: #1E2732;
  };
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .shiftdiv {
    background: #8AB5B3;
    color: #1E2732;
  };
  .shiftdivabout {
    background:   #6387A6;
    color: #1E2732;
  };
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .shiftdiv {
    background: #8AB5B3;
    color: #1E2732;
  };
  .shiftdivabout {
    background:   #6387A6;
    color: #1E2732;
  };
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .shiftdiv {
    background: #8AB5B3;
    color: #1E2732;
  };
  .shiftdivabout {
    background:   #6387A6;
    color: #1E2732;
  };
  .publications {
    padding: 2
  }
}
